$primary                : #1da0f2;
$primary-light          : #71c9f8;
$primary-grey           : #8799a6;
$primary-dark-light     : #192734;
$primary-dark           : #15212b;

$font-primary           : $primary;
$font-light             : #FFF;
$font-grey              : $primary-grey;
$font-dark              : #000;

$border-primary         : $primary;
$border-light           : #FFF;
$border-grey            : #38444d;
$border-dark            : $primary-dark;

$background-light       : #FFF;
$background-grey-dark   : $primary-dark;
$background-dark-light  : $primary-dark-light;

$danger                 : #e0245e;


$secondary              : #1a1c1b;
$textcolor             : #f8e6d8;